h1.header{
  color:#E80C58;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5;
  }
h1{
  color:#E80C58;
  font-size:18px;
  }

img.imgref{
  width:350px;
  height:200px;
  }
p{
  color: Black;
}
.ref{
  border:1px solid rgba(0,0,0,0.3);
  padding: 5px;
  margin: 5px;
}
