h1.header{
  color:#E80C58;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5;
  }

#cover {
  height: 900px;
  position: relative;
  top: -55px;
  width: 100%;
  background: url("https://img11.hostingpics.net/pics/967716CCI25082017LR1.jpg") no-repeat center bottom;
  background-size: contain;
  background-attachment: fixed;
}

div.illustration{
  width: 560;
  height: 315;
  display: center;
  margin: 0px auto;
  }

h1{
  color:#E80C58;
  font-size:18px;
  }

h2{
  font-size: 14px;
  family-font: Cambria;
}

img.imgref{
  width:350px;
  height:200px;
  }
  
p{
  color: Black;
}
  
.ref{
  border:1px solid rgba(0,0,0,0.3);
  padding: 10px;
  margin: 5px;
  width: 600px;
  height: 300px;
  position: relative;
}
