* {
  border: 1px solid rgb(22,77,100);
}

h1.header{
  color:#E80C58;
  font-family: 'Lato', sans-serif;
  font-size: 56px;
  letter-spacing: 0.5;
  background: url("https://img11.hostingpics.net/pics/775031CCI25082017LR1.jpg") no-repeat center bottom;
    }

h2.header{
  color: black;
}

#cover {
  position: relative;
  top: -55px;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}


h1{
  color: #E80C58;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  }

h2{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
  
p{
  color: Black;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}
  
.ref {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 30px;
  margin: 20px;
  width: 600px;
  height: 300px;
  position: relative;
  display: block;
  justify-content: center;
}

.illustration {
  height: 200px;
  
}

#footer {
  font-size: 0.75rem;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  cursor: crosshair;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;
}

.contact-btn a:active {
  top: 2px;
}
